
<h1>dhtmlxSuite Commercial License</h1>

<h2>1. LIMITED LICENSE GRANT. </h2>

<p>Dinamenta, UAB grants to you ("Licensee") a non-exclusive, non-transferable, worldwide, royalty-free license to use this version of
DHTMLX's package of products: dhtmlxGrid, dhtmlxTreeGrid, dhtmlxTree, dhtmlxMenu, dhtmlxCombo, dhtmlxTabbar, dhtmlxDataView, 
dhtmlxToolbar, dhtmlxLayout, dhtmlxWindows, dhtmlxAjax, dhtmlxAccordion, dhtmlxCalendar, dhtmlxColorPicker, dhtmlxSlider, 
dhtmlxEditor, dhtmlxForm, and dhtmlxChart - together called dhtmlxSuite (the "Software").</p>

<p>The Licensee has the right to use the Software only in ONE commercial project (for one license). The Licensee may
use the software on any website an unlimited number of times but within the ONE commercial project (application). 
Under this license, a site means a location where all the web pages share a single fully qualified domain name.
A site may include both intranet and extranet pages. </p>

<p>The Licensee may apply for free-of-charge support (consultations) on the product within 1 month of the date 
of purchase of the product and also free-of-charge fixes of any bugs found during the same period.</p>

<p>Modifications to the software by the Licensee are allowed, as long as they do not conflict with the license, but distribution
by the Licensee of the modified software or part(s) of it as a standalone application is forbidden. A non-exclusive, royalty-free
right is granted to Dinamenta, UAB to use, modify, and distribute the Licensee's modification in future versions of the Software.</p>


<h3>a) Specific Restrictions</h3>
<p>The Licensee is not permitted to distribute the components or their part(s) in any fashion which would promote, encourage, 
or allow reuse or redistribution of the JavaScript components.</p>

<h3>b) General Restrictions</h3>
<p>Software may not be transferred, leased, assigned, or sublicensed, in whole or in part.</p>

<p>IF THESE RESTRICTIONS ARE NOT ALLOWED BY YOUR RESPECTIVE LAW, THEN CONTACT Dinamenta, UAB TO CHECK IF SOME RESTRICTIONS
CAN BE WAIVED IN YOUR CASE. THE WAIVER CAN ONLY BE GIVEN BY WRITTEN CONSENT.</p>

<h3>c) Disclaimer of Warranty</h3>
<p>The Software is provided "AS IS," without a warranty of any kind.</p>
<p>ALL EXPRESS OR IMPLIED REPRESENTATIONS AND WARRANTIES, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT, ARE HEREBY EXCLUDED.</p>
<p>IF THIS DISCLAIMER IS NOT ALLOWED BY YOUR RESPECTIVE LAW, THEN CONTACT Dinamenta, UAB TO CHECK IF THE DISCLAIMER CAN BE WAIVED
IN YOUR CASE. THE WAIVER CAN ONLY BE GIVEN BY WRITTEN CONSENT.</p>

<h3>d) Limitation of Liability</h3>
<p>IN NO EVENT WILL Dinamenta, UAB BE LIABLE FOR ANY LOST REVENUE, PROFIT OR DATA, OR FOR DIRECT, INDIRECT, SPECIAL,
CONSEQUENTIAL, INCIDENTAL OR PUNITIVE DAMAGES HOWEVER CAUSED AND REGARDLESS OF THEORY OF LIABILITY ARISING FROM THE USE OF, THE 
INABILITY TO USE, OR DOWNLOADING OF THE SOFTWARE, EVEN IF Dinamenta, UAB HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

<p>IF THIS LIMITATION IS NOT ALLOWED BY YOUR RESPECTIVE LAW, THEN CONTACT Dinamenta, UAB TO CHECK IF THE LIMITATION CAN BE
WAIVED IN YOUR CASE. THE WAIVER CAN ONLY BE GIVEN BY WRITTEN CONSENT.</p>

<h2>2. COPYRIGHT</h2>

<p>Dinamenta, UAB and its licensors retain all ownership rights to the Software and related documentation. Use of the Software and
related documentation is governed by the license agreement accompanying the Software and applicable copyright law.</p>

<p>The documentation of the Software must always follow the Software. Making unauthorized copies, adaptations, or 
compilation works is prohibited. Dinamenta, UAB may revise this documentation from time to time without notice.</p>

<p>THIS DOCUMENTATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND. IN NO EVENT SHALL Dinamenta, UAB BE LIABLE FOR ANY LOSS OF
PROFITS, LOSS OF BUSINESS, LOSS OF USE OR DATA, INTERRUPTION OF BUSINESS, OR FOR INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL 
DAMAGES OF ANY KIND, ARISING FROM ANY ERROR IN THIS DOCUMENTATION.</p>

<p>The Software and its documentation come with no warranty, without any limitation. Dinamenta, UAB accepts no liability of any kind
arising from any use of the Software or its documentation. If your law doesn't allow this, then do not use this software and 
documentation.</p>

