.blue {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 10px;
    font-size: 14px;
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.blue:active {
    padding-top: 15px;
        margin-bottom: -1px;
}
.blue, .blue:hover, .blue:active {
    outline: 0 none;
    text-decoration: none;
    color: #fff;
}

.blue-1 {
    background-color: #3fb8e8;
    box-shadow: 0px 3px 0px 0px #3293ba;
}
.blue-1:hover {
    background-color: #1baae3;
}
.blue-1:active {
    box-shadow: 0px 1px 0px 0px #3293ba;
}