.table-form{
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

.table-form tr td{
	font-size: 12px;
}

/*------------------------------------------------------------------------------------*/
.grid{
	height: 98.5%; width: 99%; overflow: hidden; border:0px solid black; margin: 0 auto; position: relative;
}

.form tr td{
	font-size: 12px;
	padding-bottom: 5px
}

.form tr td i,.required span{
	color: red;
	font-weight: bold;
}

.form-wrapper{
	padding: 10px;
	position: relative;
	margin: 0 auto;
}

.full90{
	border:0px solid black;
	margin-top: 1%;
	width: 94%;
	height: 93%;
	display: block !important;
}

.required{
	text-align: right;
}

/*
CSS UNTUK FORM SKYBLUE / BERWARNA BIRU MUDA
*/

.form_skyblue{
	height:2.4em;
	width:25em;
	color:#424242;
	padding-left:5px;
	border:#53A6A6 1px solid;
	border-radius:4px;	
}

.form_skyblue:hover{
	background-color:#F9F9F9;
}

.form_skyblue:focus{
	background-color:#B3D9D9;
	border:#0086C6 1px solid;
	color:#003264;
	box-shadow:#C0C0C0 0px 3px 13px 0px;
}

.filtermain{
	height:25px !important;
	font: 11px !important;
}

.filtertable{
	border-collapse: collapse !important;
}

.filtertable tr td {
	font-size: 11px !important;
}

.filterwrapper{
	background: #d5e8ff !important;
	overflow: hidden;
	border:1px solid black;
	width: 100%;
	height: 100%;
}

.filterbutton{
	background: #48a1fa;
	height: 30px !important; width:100% !important;
	display: block;
	border:0px solid black;
	text-align: center;
	color: #FFFFFF;
}

/*
SKYBLUE 2 MEMILIKI UKURAN FORM YANG LEBIH
PENDEK
*/

.form_skyblue2{
	height:2.4em;
	width:15em;
	color:#424242;
	padding-left:5px;
	border:#53A6A6 1px solid;
	border-radius:4px;	
}

.form_skyblue2:hover{
	background-color:#F9F9F9;
}

.form_skyblue2:focus{
	background-color:#B3D9D9;
	border:#0086C6 1px solid;
	color:#003264;
	box-shadow:#C0C0C0 0px 3px 13px 0px;
}


/*
CSS UNTUK TOMBOL SEARCH 
*/
.button_search_skyblue{
	height:2.5em;
	background-color:#33a8d3;
	color:#FFF;
	border:none;
	border-radius:3px;
}

.button_search_skyblue:hover{
	background-color:#2a9dc7;
	color:#F9F9F9
}



/*
CSS UNTUK TOMBOL ADD
*/
.button_add_skyblue{
	height:2.5em;
	background-color:#a2ed09;
	color:#FFF;
	border:none;
	border-radius:3px;
}

.button_add_skyblue:hover{
	background-color:#91d10d;
	color:#F9F9F9
}

.buttonsimpans{
	display: block;
	text-decoration: none;
	height: 20px;
	background: #0080FF;
	width: 90px;
	padding: 10px;
	line-height: 20px;
	border-radius: 3px;
	text-align: center;
	font-size: 12px;
	color: white
}

.buttonsimpans:hover{
	background-color:#0069D2;
}


/*
CSS UNTUK FORM WEB / BERWARNA BIRU TUA
*/
.form_web{
	height:2.1em;
	width:100%;
	color:#424242;
	padding-left:5px;
	border:#51A2A2 1px solid;
}

.form_web:hover{
	background-color:#F8F8EF;
}


.readonly_form{
	height:2.1em;
	width:100%;
	color:#FFF;
	padding-left:5px;
	border:#51A2A2 1px solid;
}

.readonly_form:hover{
	background-color:#F8F8EF;
}

.form_web:focus{
	background-color:#B3D9D9;
	border:#0086C6 1px solid;
	color:#000;
	box-shadow:#B1B165 1px 1px 1px 0px;
}


.poki tr td{
	width: 300px;
	padding-left: 10px;
}

.form_ro{
	height:2.1em;
	width:100%;
	color:#000000;
	padding-left:5px;
	border:#000000 0px solid;
	background-color: #ffefa9;
}

fieldset { border:0px solid green; border-top:1px solid #51A2A2;}

legend {
  padding: 0.2em 0.5em;
  border:1px solid #51A2A2;
  color:#FFFFFF;
  background: #51A2A2;
  font-size:14px;
  text-align:left;
 }


/*
FORM_WEB 2 MEMILIKI UKURAN FORM YANG LEBIH
PENDEK
*/

.form_web2{
	height:2.4em;
	width:15em;
	color:#424242;
	padding-left:5px;
	border:#51A2A2 1px solid;
}

.form_web2:hover{
	background-color:#F8F8EF;
}

.form_web2:focus{
	background-color:#33a8d3;
	border:#0086C6 1px solid;
	color:#FFF;
	box-shadow:#B1B165 0px 3px 10px 0px;
}


/*
CSS UNTUK TOMBOL ADD
*/

.button_search_web{
	height:2.5em;
	background-color:#0080FF;
	color:#FFF;
	border:none;
	border-radius:3px;
}

.button_search_web:hover{
	background-color:#0069D2;
	color:#F9F9F9
}


/*
CSS UNTUK TOMBOL ADD
*/

.button_add_web{
	height:2.5em;
	background-color:#8ed201;
	color:#FFF;
	border:none;
	border-radius:3px;
}

.button_add_web:hover{
	background-color:#7fbe00;
	color:#F9F9F9
}

/*
	SELECT
*/
.full{
	width:100% !important;
}
.full_forReport{
    width:100px;
}

.imageloading{
	padding-left:50%;
	width: 100%;
	height: 100%;
	background-color:rgba(126,190,190,0.25);
	z-index: 30000;
	display: none;
	position: absolute;
}

.gambar{
	margin-top:10%;
}


.popupmainwrapper{
	z-index: 35000 !important;
	width: 100% !important;
	height: 100% !important;
	background: #EEEEEE;
	background: rgba(4, 91, 109, 0.5);
	position: absolute;
	box-shadow:#ADADAD 0px 0px 1px 0px;
}

.popupbox{
  	background: #FFFFFF;
	position: relative;
	top:30%;
	width: 300px;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px;
	border-radius: 5px;
	-webkit-box-shadow: -2px 1px 6px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 1px 6px -1px rgba(0,0,0,0.75);
	box-shadow: -2px 1px 6px -1px rgba(0,0,0,0.75);
}

.popuplogo{
	height:70px;
}

.field input,.field span{
	float: left;
}

.button{
	clear:both;
	text-align: right;
}

.width100{
	width:100px;
}

.minus{
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}

.nopols{
	font-weight: bold;
	font-family: calibri;
	border-bottom: 1px solid black;
	display: block;
	width: 100%;
	text-align: center;
}

.poptable {border-collapse: collapse;}
.poptable tr td {padding-left: 10px; padding-right: 10px}
.poptable tr td span{
	font-size: 12px;
	background: #C4FFF0;
	border:2px solid #51A2A2;
	padding: 5px;
	display: block;
	width: 95%;
}

.poptable tr td span i{
	color: red
}

.poptable tr.center td{
	text-align: center;
}

.popupbutton{
	background: #51A2A2;
	border:0px solid #51A2A2;
	color: #FFFFFF;
	font-weight: bold;
	height: 30px;
	width: 100%;
	cursor: pointer;
}

.search-error{
	display: none;
}

.redalert{
	background:#FFC4C4; padding:7px; color:#B51D1D; font-weight:bold; font-size:12px; border:1px solid #B51D1D; 
	margin-top: 10px; border-radius: 2px; text-align: center;
}

.fixedfiled{
	list-style-type: none;
	position: fixed;
	right: 35px;
	z-index: 35000;
	display: none;
}

.fixedfiled li{
	margin: 0px;
	padding: 0px;
	float: left;
	margin-right: 5px;
}

.fixedfiled li a{
	text-decoration: none;
	color: #000000;
	display: block;
	background: rgba(0, 135, 142, 0.7);
	border-radius: 10px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #FFFFFF;
	width: 40px;
	font-weight: bold;
	z-index: 35000;
}

.pesan{
	position: fixed;
	right: 50px;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	z-index: 40000;
	font-size: 12px;
	color: #FFFFFF;
	width:100px;
	border-radius: 5px
}

.uppercase{
    text-transform: uppercase;
}

.ui-datepicker {
    background: #D0E8E8;
    font-size: 9pt !important;
}


.div_con{
    padding:10px;
	display		 	    :block;
	overflow	   		:hidden;
	background-color	:#d4e7ff;
}

.kasir{
    border-collapse: collapse;
}
.kasir tr td{
    padding: 5px;
    font-size: 12px;
}

.fulls{
	width: 100% !important;
}

.button_kasir{
	height:100%;
	width: 80px;
	background-color:#0080FF;
	color:#FFF;
	border:none;
	border-radius:3px;
	font-size: 12px;
	cursor: pointer;
}

.sikecil{
	height: 25px !important;
	width: 100px;
	line-height: -25px;
	font-size: 9px;
	margin-left: 10px;
	cursor: pointer;
}

.sikecil2{
	font-size: 11px;
}

.kasir2{
    border-collapse: collapse;
}

.kasir2 tr td{
	padding: 2px !important;
    font-size: 12px;
}

.title_app{
	font-size: 12px;
	font-style: italic;
	color: #888888;
}

.title_content{
	font-size: 17px;
	padding-left: 15px;
	display: block;
	margin-bottom: 15px;
}

.mail{
	text-decoration: none;
	color: #000000;
}

.mail:hover{
	color: blue;
	text-decoration: underline;
}

.editapp{
	position: absolute;
	height: 30px;
	right: 0px;
	top:50px;
	right:50px;
	cursor: pointer;
}

.editapp:hover{
	height: 32px
}

.upload{
	height: 150px; 
}

.input_profile{
	height: 30px;
	margin-bottom: -9px;
	width: 90%;
	padding-left: 5px;
}