.body{
	background-color:#5a7171;
}

#wrapper_login{
	background: rgba(0, 0, 0, 0.1);
	width: 450px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: 10%;
	padding: 7px;
	border-radius: 5px;
}

#wrapper_inner_login{
	background: #ffffff;
	border-radius: 5px;
	box-shadow:#ADADAD 0px 0px 1px 0px;
	display: block;
	width: 100%;
	height: 100%;
}

#logo{
	width: 200px;
	position: relative;
	margin:0 auto;
	margin: 10px;
}

.input-login{
  margin: 0px;
  padding-left: 5px;
  width: 91%;
  height: 30px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 3px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

.login_table{
	border-collapse: collapse;
}


.login_table tr td{
	padding-left: 30px;
}
.login_table tr td span{
	text-align: left !important;
	font-size: 12px;
	font-weight: bold;
	color: #666666
}

#submit{
	margin-top:13px;
	height:2.8em;
	width:12em;
	background-color:#5a7171;
	color:#FFF;
	border:none;
	border-radius:1px;
	cursor: pointer;
	border-radius: 5px;
}


#submit:hover{
	background-color:#5a7171;
	color:#F9F9F9;
}

#forgot_password{
	border:0px solid black;
	margin-top: 15px;
	text-align: center;
	color: #ffffff;
  	text-shadow: 0 1px #2a85a1;
  	font-size: 12px
}

#forgot_password a{
	text-decoration: none;
	color: #FFFFFF;
}


#copyright{
	border:0px solid black;
	font-size: 10px;
	bottom: 10px;
	margin-top: 3%;
	text-align: center;
	right: 39%;
}

.error_box{
	margin:0px auto; padding:0px; position:absolute; top:0; width: 100%; height: 100%;
	z-index: 20000;
	background: rgba(0,0,0,0.8);
}

.error_message{
	background: #f8e5e4;
	margin: 0 auto;
	position: relative;
	margin-top: 18%;
	width: 400px;
	text-align: center;
	outline: 1px solid #c41100;
	padding-bottom: 15px;
}
.error_message p{
	margin: 0px;
	padding:0px;
	text-align: center;
	color: #c41100;
	font-size: 13px;
}

.error_title{
	display: block;
	overflow: hidden;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding:5px;
	color: #c41100;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
}