body{
	font-family: "Helvetica";
}

table{
	border-collapse: collapse;
	width:100%;
}

table tr td,table tr th{
	border:0px solid black;
	border-right: 1px solid #FFFFFF;
}

table tbody tr td{
	font-size: 11px;
}

table tbody tr th{
	font-size: 10px;
}

table tbody tr:nth-child(odd) {
   background-color: #BFDEE3;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.left{
	text-align: left;
}