body{
	margin: 0px !important;
	padding:0px !important;
	overflow: hidden;
	font-family:Arial, Helvetica, sans-serif;
}

.error_mess{
	display: block;
	border:0px solid black;
	text-align: left;
	padding-left: 5%;
}

#table_header{
	border-collapse: collapse;
	height: 100%;
	width: 100%;
}

#table_icon{
	border-collapse: collapse;
	height: 100%; width: 100%;
}

.icon-shorcut{
	border:0px solid black;
	width:52px;
	height: 52px;
	float: left;
	margin-right: 8px;
	cursor: pointer;
}

.icon-shorcut img:hover{
	height: 57px !important;
	width: 57px !important;
}

.info-header{
	display: block;
	height: 100%;
	width: 100%;
	border:0px solid black;
	position: relative; /* Old browsers */
}

.copyFooter{
    text-decoration: none;
    color: #000066;
}

.copyFooter:hover{
    text-decoration: underline;
    color: red;
}