.custom-bg{
	background: #3c4657 !important;
	color: #FFFFFF !important;
	text-shadow: 0px 0px #333333 !important;
	font-weight: normal !important; 
}

/*CUSTOM*/
.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 0px 0px !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 0px 0px !important;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 0px 0px !important;
}

.ui-custom{
	height: 200px !important;
	font-weight: normal !important;
}

/*APP*/
.maingrid{
	position:relative; width:100% !important; height:450px; overflow:hidden; display:block;
}

.rightres{
	height: 30px !important;
}

.left{
	float: left;
}

.right{
	float: right;
}

.blueredup{
	background: #68839e;
	border:1px solid #68839e;
	text-shadow: 0px 0px #333333 !important;
	color: #FFFFFF
}

.blueavenue{
	background: #4786c4;
	border-bottom:1px solid #3f79b3;
	border-left:1px solid #4786c4;
	border-right:1px solid #4786c4;
	border-top:1px solid #4786c4;
	text-shadow: 0px 0px #333333 !important;
	color: #FFFFFF
}

#grandtotal{
	font-size: 35px;
	position:relative;
	top:-10px;
	text-align: right;
}

.cursor{
	cursor: pointer;
}

.payment{
	background: #c4cd94;
	border:1px solid #c4cd94;
}

.utility{
	background: #ff9a09;
	border:1px solid #ff9a09;
}

.blockbutton{
	position:relative; display:block; margin:0 auto; border:0px solid black; text-align:center
}

.calculatorwrapper{
	display: block;
	position: relative;
	margin: 0 auto;
	height:600px;
	width: 30%;
	margin-top: 2%;
	background: #000000 !important
}

.bleft{
	border-left: 1px solid #a8b17a;
	border-bottom: 1px solid #a8b17a;
}

.bright{
	border-right: 1px solid #a8b17a;
	border-bottom: 1px solid #a8b17a;
}

.coverlay{
	width: 100% !important;
	height: 100% !important;
	background-color:rgba(0,0,0,0.8);
	position: fixed;
	top: 0px;
	z-index: 1000;
}

.wrapperbarang-in{
	width: 70%;
	height: auto;
	background: #FFFFFF;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	padding: 10px;
}

.headtable{
	padding: 10px;
	background: #4786c4;
	font-style: normal;
	text-decoration: none;
	color: #ffffff;
	text-shadow: 0px 0px #333333 !important;
}

.bc{
	text-align: right;
}

.listcontent{
	height: 450px;
	border:0px solid black;
	overflow: auto;
	z-index: 900;
}

/*KATEGORI BARANG*/
ul.kategoribarang {
  list-style-type: none;
  margin: 0px;
  padding: 0px
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
ul.kategoribarang li p {
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 11px;
}
 
ul.kategoribarang li {
  padding: 10px;
  border-bottom:1px solid #aaaaaa;
  font-weight: bold;
}
 
ul.kategoribarang li:hover {
  cursor: pointer;
}

.true{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffda8a+0,ffbe31+100 */
background: #ffda8a; /* Old browsers */
background: -moz-linear-gradient(top,  #ffda8a 0%, #ffbe31 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffda8a), color-stop(100%,#ffbe31)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffda8a 0%,#ffbe31 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffda8a 0%,#ffbe31 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffda8a 0%,#ffbe31 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffda8a 0%,#ffbe31 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffda8a', endColorstr='#ffbe31',GradientType=0 ); /* IE6-9 */
border-bottom: 1px solid #ffaf00;
}

/*BARANG*/
ul.listbarang {
  list-style-type: none;
  margin: 0px;
  padding: 0px
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
ul.listbarang li p {
  text-transform: uppercase;
  font-size: 11px;
}
 
ul.listbarang li {
  padding: 10px;
  border:1px solid #cccccc;
  font-weight: bold;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
 
ul.listbarang li:hover {
  cursor: pointer;
}

.loading_ktg img{
	width: 50%;
	position: relative;
	margin: 0 auto;
}

.loading_brg img{
	width: 50%;
	position: relative;
	margin: 0 auto;
}

.buttonqty{
	display: inline-block;
	border: 1px solid #cccccc;
	background: #eeeeee;
	padding: 15px;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
}

.buttonqty:focus .extra {
	background: #cccccc
}

#submitQty{
	border: 1px solid #cccccc;
	padding: 5px;
	width: 130px;
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	background: #eeeeee;
	font-weight: bold;
	cursor: pointer;
}

.hide{
	display: none
}

.calculatorwrapper-in{
	width: 40%;
	height: auto;
	background: #FFFFFF;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	padding: 10px;
}

#calculators{
	width: 100%;
	border-collapse: collapse;
}

/*CALCULATOR*/
.btnnumber{
	width: 100px;
	height: 100px; 
	text-align: center;
	cursor: pointer;
	background: #eeeeee;
	font-weight: bold;
}

.btnnumber:active,.btnok:active{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd65e+0,febf04+100;Yellow+3D+%232 */
background: #ffd65e; /* Old browsers */
background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffd65e 0%,#febf04 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */

}

.btninput{
	height: 100px; 
	text-align: right;
	background: #f9fcf7;
	border: 1px solid #e3eaed;
	font-size: 55px;
	padding-left: 5px;
}

.btnfunction{
	text-align: center;
	cursor: pointer;
}

.btnok{
	text-align: center;
	cursor: pointer;
}

.rinput{
	width: 100%;
	background: #f9fcf7;
	border:0px solid black;
	text-align: right;
}

/*CALCULATOR PAYMENT*/
.paymentwrapper-in{
	width: 80%;
	height: auto;
	background: #FFFFFF;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	padding: 10px;
}

.pbtnnb,.pbtnfc{
	width: 80px;
	height: 80px; 
	text-align: center;
	cursor: pointer;
	background: #eeeeee;
	font-weight: bold;
}


.color{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
	background: #f2f5f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
	border: 1px solid #e3eaed;
}

.clicked{
	background: #eeeeee;
}

.pinput{
	text-align: right;
	height: 40px;
	width: 85%;
	font-size: 30px;
	display: inline-block;
}

.pfont{
	font-size: 12px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
}

#bnocard, #bnotrans, #bbay, #bdiscount, #btax{
	width: 38px;
	height:38px;
	border: 1px solid #e3eaed;
	display: inline-block;
	position: relative;
	top: 9px;
	background: #f2f5f6;
	cursor: pointer;
}

.false{
  background: #eeeeee;
}

.checkedgreen{
	background: #2fb421 !important;
	border: 1px solid #218d16 !important;
}

.select2-container .select2-choice, .select2-result-label {
  font-size: 1.5em;
  height: 40px; 
}

.select2-arrow, .select2-chosen {
  padding-top: 6px;
}

.box{
	display: block;
	border:0px solid black;
	padding: 10px;
	background: #4786c4;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
}

.listcustom{
	margin: 0;
	padding: 0;
	list-style: none;
}

.listcustom li a{
	background: #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	display: block;
	overflow: hidden;
	padding: 10px;
	border-radius: 5px;
}