table{
	border-collapse: collapse;
}

p{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	width:897px;
	height:291px;
	overflow: hidden;
	border:1px solid black;
	display: block;
}

.head{
	font-weight: bold;
	font-size: 10px;
}

.subhead{
	font-size: 8px;
	width: 100%;
	border:0px solid black;
}

table.idenpemilik,table.idenkend{
	width: 100%;
}

table.idenpemilik tr td{
	font-size: 8px;
	border:1px solid black;
}

.black{
	background: #FFFFFF;
	color: #000000;
	border-bottom: 1px solid #000000 !important;
}

table.idenkend{
	font-size: 8px;
}

.boxsamsat{
	border:1px solid black;
	height: 15px;
	width:150px;
	font-size: 11px;
	text-align: center;
	padding: 2px;
	font-weight: bold;
}

table.norut tr td{
	font-size: 10px
}

table.subnorut tr td{
	border:1px solid black;
}

.administrasi tr td{
	font-size: 11px;
	border:1px solid black;
}

.pembayaran{
	font-size: 10px;
}

.pembayaran tr td{
	border:1px solid black;
}

.blacka{
	background: #FFFFFF;
	color: #000000;
	font-size: 8px;
}

.bottom{
	font-size: 9px
}

.berlaku tr td{
	border:1px solid black
}