#dhxMainCont {
	color:#000000;
	background-color: #ffffff;
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}


/*============================*/
/* dhtmlxAccordion dhx_web*/
/*============================*/
div.dhxcont_global_layout_area {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
}

/* MAIN OBJ */
div.dhx_acc_base_dhx_web {
	overflow: hidden;
	amargin-top: -9px;
}
/* FULLSCREENED BODY */
.dhxacc_fullscreened {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: #ffffff;
	overflow: hidden;
}
/* SINGLE ITEM */
div.dhx_acc_base_dhx_web div.dhx_acc_item {
	position: relative;
	overflow: hidden;
	width: 100%;
	background-color: #87ad69;
	background-image: url("./imgs/dhxaccord_dhx_web/dhxacc_bg.gif");
	background-repeat: repeat-x;
	background-position: bottom;
}
div.dhx_acc_base_dhx_web div.dhx_acc_item.last_item {
	background: none;
	background-color: #87ad69;
}
/* white lines */
div.dhx_acc_base_dhx_web div.dhx_acc_item div.dhx_acc_hdr_line_l {
	display: none;
}
div.dhx_acc_base_dhx_web div.dhx_acc_item div.dhx_acc_hdr_line_r {
	display: none;
}
/* SINGLE ITEM HIDDEN */
div.dhx_acc_base_dhx_web div.dhx_acc_item_hidden {
	display: none;
}
/* HEADER */
div.dhx_acc_base_dhx_web div.dhx_acc_item div.dhx_acc_item_label {
	position: relative;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	height: 27px;
	line-height: 25px;
	vertical-align: middle;
	overflow: hidden;
	background-color: #87ad69;
	-moz-user-select: none;
	cursor: default;
}
/* LABEL */
div.dhx_acc_base_dhx_web div.dhx_acc_item div.dhx_acc_item_label span {
	margin: 0px 14px;
}
/* HOVERED HEADER */
div.dhx_acc_base_dhx_web div.dhx_acc_item_lavel_hover {
	
}
/* HEADER BOTTOM BORDER FAKE ?? */
div.dhx_acc_base_dhx_web div.dhx_acc_item div.dhx_acc_item_label div.dhx_acc_item_label_btmbrd {
	display: none;
	/*
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0px;
	border-bottom: #a4bed4 1px solid;
	*/
}
/* ICON */
div.dhx_acc_base_dhx_web div.dhx_acc_item div.dhx_acc_item_label img.dhx_acc_item_icon {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 4px;
	top: 5px;
}

/* ?? accordion attached to window */
.dhtmlxAccordionAttached {
	border: none !important;
}


/* tabbar */
div.dhx_acc_base_dhx_web div.dhx_acc_item div.dhx_tabbar_row {
	background-color: #ffffff;
}
/* status bar */
div.dhx_acc_base_dhx_web div.dhxcont_sb_container {
	height: 41px;
	position:relative;
}
table.dhtmlxLayoutPolyContainer_dhx_web div.dhxcont_sb_container div.dhxcont_statusbar {
}
div.dhx_acc_base_dhx_web div.dhxcont_statusbar {
	bottom: 0px;
	_bottom: -1px;
	border-top: #ebebeb 1px solid;
	background: #ebebeb;
	overflow: hidden;
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	-moz-user-select: none;
	cursor: default;
	color: #000000;
	height: 32px;
	width: auto;
	line-height: 32px;
	padding: 0 12px;
	position: relative;
	top: 9px;
	vertical-align: middle;
	white-space: nowrap;
	
}
/* CONTAINER */
div.dhx_acc_base_dhx_web div.dhx_acc_item div.dhxcont_global_content_area {
	position: absolute;
	border-left: #ebebeb 1px solid;
	border-right: #ebebeb 1px solid;
	border-bottom: #ebebeb 1px solid;
	background-color: #ffffff;
	overflow: hidden;
}

div.dhx_acc_base_dhx_web div.dhx_acc_item div.dhxcont_global_content_area.dhxcont_acc_dhx_web {
	border: #ffffff 8px solid;
}

/* ITEM ARROW */
div.dhx_acc_base_dhx_web div.dhx_acc_item div.dhx_acc_item_arrow {
	position: absolute;
	width: 16px;
	height: 16px;
	right: 4px;
	top: 6px;
	background-image: url("./imgs/dhxaccord_dhx_web/dhxacc_btns.gif");
	background-repeat: no-repeat;
}
div.dhx_acc_base_dhx_web div.dhx_acc_item_arrow.item_opened {
	background-position: 0px 0px;
}
div.dhx_acc_base_dhx_web div.dhx_acc_item_arrow.item_closed {
	background-position: -16px 0px;
}
div.dhxcont_content_blocker {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 101%;
	height: 101%;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	background: #ffffff;
	z-index: 1;
	-moz-user-select: none;
}


/*============================*/
/* dhtmlxGrid dhx_web*/
/*============================*/
div.gridbox_dhx_web .xhdr{
	background-color:#ebebeb;	
}
div.gridbox_dhx_web table.hdr tr{
	background-color:#ffffff;	
}

div.gridbox_dhx_web table.obj tr td{
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	border-width:0px 0px 0px 0px;
	padding-right:4px;
	padding-left:4px;
}
div.gridbox_dhx_web table.hdr td div.hdrcell{
	width:auto;
	padding-left:10px;
	width:100% !ie;
}

div.gridbox_dhx_web table.hdr td {
	border: 1px solid #ebebeb;
	border-width: 0px 1px 1px 0px;
	padding:8px 0px 9px 0px;
	background-color:#ebebeb;
/*
	background-image:url("./imgs/dhxgrid_dhx_web/separator.png");
	background-position:right -2px;
	background-repeat:repeat-y;
	*/
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	vertical-align:top;
	text-align:left;
}

div.gridbox_dhx_web {
	border:1px solid  #ebebeb;
}

div.gridbox_dhx_web {
  border:1px solid  #ebebeb;
}
div.gridbox table.obj tr  td{
    padding-top:8px;
    padding-bottom:8px;
	height:30px;
}

div.gridbox table.obj tr  td.editable{
    padding:0px;
}
div.gridbox table.obj tr  td.editable div.treegrid_cell{
	padding-left:4px;
	padding-top:1px;
}
div.gridbox_dhx_web table.obj tr.rowselected{
	background-color:#e0f892;
	color: #000000;
}
div.gridbox_dhx_web table.obj tr.rowselected td{
	background-color:#e0f892;
}
div.gridbox_dhx_web table.obj.row20px tr.rowselected td{
	background-color:#e0f892;
	color: #000000;
}
div.gridbox_dhx_web table.obj tr.rowselected td.cellselected {
	background-color:#e0f892;
	color: #000000;
}
div.gridbox_dhx_web .odd_dhx_web{
	background-color:#ebebeb;
}

div.gridbox_dhx_web .ev_dhx_web{
	background-color:#ffffff;
}

.dhx_combo_select, .gridbox_dhx_web .dhx_combo_edit, .gridbox_dhx_web .dhx_textarea{
    font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}
.gridbox_dhx_web .dhx_combo_edit{
	padding:1px 0px 1px 1px;
}
.gridbox_dhx_web .dhx_sub_row {
	background-color:transparent;
}


/*============================*/
/* dhtmlxLayout dhx_web*/
/*============================*/
/* inner table */
table.dhtmlxLayoutPolyContainer_dhx_web {
	width: 100%;
	height: 100%;
	abackground-color: #D3E2E5;
}
/* single polygon */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly {
	position: relative;
	overflow: hidden;
	vertical-align: top;
	background-color: #ebebeb;
}
/* window content */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxWindowMainContent {
	border: #a4bed4 1px solid;
	background-color: #ffffff;
}

/* WITH ENGINE */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlx_wins_body_inner {
	border: #000000 1px solid;
	background-color: #ffffff;
}

/* content cover boocker */
table.dhtmlxLayoutPolyContainer_dhx_web div.dhxcont_content_blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
	background-color: #ffffff;
}


/* infobar */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBar {
	position: relative;
	font-family: Tahoma;
	font-size: 2px;
	height: 27px;
	background-color: #87ad69;
	overflow: hidden;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBar div.dhtmlxInfoBarButtonsFake {
	position: absolute;
	width: 28px;
	height: 27px;
	margin: 0px;
	top: 0px;
	right: -1px;
	background-color: #87ad69;
	overflow: hidden;
}
/* infobar label */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBar div.dhtmlxInfoBarLabel {
	white-space: nowrap;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	top: 5px;
	margin-left: 12px;
	line-height: 15px;
	vertical-align: middle;
	cursor: default;
	position: absolute;
	-moz-user-select: none;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedVer div.dhtmlxInfoBarLabel {
	display: none;
}
/* button collapse to-right */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBar div.dhtmlxInfoButtonShowHide_ver {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 6px;
	right: 4px;
	font-family: Tahoma;
	font-size: 2px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	background-repeat: no-repeat;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePolyTabbarCollapsed div.dhtmlxInfoButtonShowHide_ver { /* tabbar case, collapsed */
	position: absolute;
	width: 7px;
	height: 8px;
	top: 6px;
	right: 4px;
	font-family: Tahoma;
	font-size: 2px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	background-repeat: no-repeat;
}
.dhxLayoutButton_dhx_web_ver1t {
	background-image: url("./imgs/dhxlayout_dhx_web/dhxlayout_btns.gif");
	background-position: -32px 0px;
}
.dhxLayoutButton_dhx_web_ver1b {
	background-image: url("./imgs/dhxlayout_dhx_web/dhxlayout_btns.gif");
	background-position: 0px 0px;
}
/* button collapse to-left */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBar div.dhtmlxInfoButtonShowHide_hor {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 6px;
	right: 4px;
	font-family: Tahoma;
	font-size: 2px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	background-repeat: no-repeat;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePolyTabbarCollapsed div.dhtmlxInfoButtonShowHide_hor { /* tabbar case, collapsed */
	position: absolute;
	width: 8px;
	height: 7px;
	top: 10px;
	left: 6px;
	font-family: Tahoma;
	font-size: 2px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	background-repeat: no-repeat;
}
.dhxLayoutButton_dhx_web_hor1l {
	background-image: url("./imgs/dhxlayout_dhx_web/dhxlayout_btns.gif");
	background-position: -16px 0px;
}
.dhxLayoutButton_dhx_web_hor1r {
	background-image: url("./imgs/dhxlayout_dhx_web/dhxlayout_btns.gif");
	background-position: -48px 0px;
}
/* collapsed polygon horizontal */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedHor {
	position: relative;
	font-family: Tahoma;
	font-size: 2px;
	height: 100%;
	height: 18px;
	overflow: hidden;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedHor div.dhtmlxInfoBarLabel {
	display: none;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedHor div.dhtmlxInfoButtonShowHide_ver {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 1px;
	right: 4px;
	font-family: Tahoma;
	font-size: 2px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	background-repeat: no-repeat;
}
.dhxLayoutButton_dhx_web_ver2t {
	background-image: url("./imgs/dhxlayout_dhx_web/dhxlayout_btns.gif");
	background-position: -32px 0px;
}
.dhxLayoutButton_dhx_web_ver2b {
	background-image: url("./imgs/dhxlayout_dhx_web/dhxlayout_btns.gif");
	background-position: 0px 0px;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedHor div.dhtmlxInfoBarButtonsFake {
	height: 18px;
	left: 0px;
	position: relative;
	top: 0px;
	background-color: #87ad69;
}
/* collapsed polygon vertical */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedVer {
	position: relative;
	width: 100%;
	font-family: Tahoma;
	font-size: 2px;
	height: 100%;
	overflow: hidden;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedVer div.dhtmlxInfoBarLabel {
	display: none;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedVer div.dhtmlxInfoButtonShowHide_hor {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 6px;
	left: 1px;
	font-family: Tahoma;
	font-size: 2px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	background-repeat: no-repeat;
}
.dhxLayoutButton_dhx_web_hor2l {
	background-image: url("./imgs/dhxlayout_dhx_web/dhxlayout_btns.gif");
	background-position: -16px 0px;
}
.dhxLayoutButton_dhx_web_hor2r {
	background-image: url("./imgs/dhxlayout_dhx_web/dhxlayout_btns.gif");
	background-position: -48px 0px;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedVer div.dhtmlxInfoBarButtonsFake {
	width: 16px;
	left: 0px;
	position: absolute;
	top: 0px;
	height: 100%;
	width: 18px;
	background-color: #87ad69;
}
/* border-bottom for vercollapsed cell */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedVer div.dhtmlxInfoBarButtonsFake2 {
	display: none;
}
/* inner objects */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInnerContainer {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	position: relative;
	overflow: auto;
}
table.dhtmlxLayoutPolyContainer_dhx_web div.dhtmlx_wins_body_content {
	position: relative;
	overflow: hidden;
}
/* SPLITTERS */
/* hor-based splitter */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutPolySplitterHor {
	font-size: 1px;
	height: 9px;
	line-height: 9px;
	cursor: n-resize;
	-moz-user-select: none;
	background-color: #ffffff;
	background-image: url("./imgs/dhxlayout_dhx_web/dhxlayout_drag_hor.gif") !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	vertical-align: top;
}
/* hor-based splitter inactive */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutPolySplitterHorInactive {
	font-size: 1px;
	height: 9px;
	line-height: 9px;
	cursor: default;
	-moz-user-select: none;
	vertical-align: top;
}
/* ver-based splitter */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutPolySplitterVer {
	font-size: 2px;
	width: 9px;
	cursor: w-resize;
	background-color: #ffffff;
	background-image: url("./imgs/dhxlayout_dhx_web/dhxlayout_drag_ver.gif") !important;
	background-repeat: no-repeat !important;
	background-position: 50% center !important;
	vertical-align: top;
	-moz-user-select: none;
}
/* ver-based splitter inactive */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutPolySplitterVerInactive {
	font-size: 2px;
	width: 9px;
	cursor: default;
	vertical-align: top;
	-moz-user-select: none;
}
/* DEFAULT SINGLE POLYGON WITH ATTACHED TABBAR */
/* polygon */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePolyTabbar {
	position: relative;
	overflow: hidden;
	vertical-align: top;
	border: 0px solid transparent;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePolyTabbarCollapsed {
	position: relative;
	border: #C2D5DC 1px solid;
	overflow: hidden;
	vertical-align: top;
	background-color: #ffffff;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePolyTabbar div.dhtmlxWindowMainContent {
	border: #333333 0px solid !important;
	background-color: #ffffff;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePolyTabbarCollapsed div.dhtmlxPolyInfoBarCollapsedVer, td.dhtmlxLayoutSinglePolyTabbarCollapsed div.dhtmlxPolyInfoBarCollapsedHor {
	position: relative;
	width: 100%;
	height: 100%;
}
/* small tabbar fix */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePolyTabbar div.dhx_tabbar_row {
}

table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePolyTabbar div.dhtmlxPolyInfoBar, td.dhtmlxLayoutSinglePolyTabbarCollapsed div.dhtmlxPolyInfoBar {
	position: relative;
	z-index: 100;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePolyTabbar div.dhtmlxInfoBarLabel, td.dhtmlxLayoutSinglePolyTabbarCollapsed div.dhtmlxInfoBarLabel {
	width: 0px;
	height: 0px;
	display: none;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePolyTabbar div.dhtmlxInfoBarButtonsFake, td.dhtmlxLayoutSinglePolyTabbarCollapsed div.dhtmlxInfoBarButtonsFake {
	width: 0px;
	height: 0px;
	display: none;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePolyTabbar div.dhtmlxPolyInfoBar div {
	position: relative;
	float: right;
	background-position: center top;
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
	overflow: hidden;
	z-index: 100;
}
/* collapse/expand buttons for tabbar */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePolyTabbar div.dhtmlxPolyInfoBar div.dhtmlxInfoButtonShowHide_hor, table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePolyTabbar div.dhtmlxPolyInfoBar div.dhtmlxInfoButtonShowHide_ver {
	position: absolute;
	right: 4px;
	top: 4px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
/* SIZER */
div.dhxLayout_Sizer_dhx_web {
	position: absolute;
	background-color: #abc696;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
	transparent: 0;
	font-size: 1px;
	z-index: 1999;
}
div.dhxLayout_Cover_dhx_web {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	opacity: 0.2;
	background-color: #87ad69;
}

/* attached menu */
.dhtmlxMenu_dhx_web_Middle {
	amargin-left: 1px;
	amargin-right: 1px;
}
.dhtmlxMenu_dhx_web_bottom_border {
	height=25;
	border-bottom: #C2D5DC 1px solid;
}
.dhtmlxToolbar_dhx_web_bottom_top {
	border-top: #C2D5DC 1px solid;
}
/* progress cover */
table.dhtmlxLayoutPolyContainer_dhx_web div.dhtmlxLayoutPolyProgress {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=15);
	-moz-opacity: 0.15;
	opacity: 0.15;
	background-color: #93C0E7;
}
table.dhtmlxLayoutPolyContainer_dhx_web div.dhtmlxLayoutPolyProgressBGIMG {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url("./imgs/dhxlayout_dhx_web/dhxlayout_progress.gif");
	background-repeat: no-repeat;
	background-position: center center;
}
/* progres cover global */
div.dhtmlxLayoutPolyProgressGlobal_dhx_web {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=15);
	-moz-opacity: 0.15;
	opacity: 0.15;
	background-color: #93C0E7;
}
div.dhtmlxLayoutPolyProgressBGIMGGlobal_dhx_web {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url("./imgs/dhxlayout_dhx_web/dhxlayout_progress_global.gif");
	background-repeat: no-repeat;
	background-position: center center;
}
/* status bar */
div.dhxcont_global_layout_area div.dhxcont_sb_container {
	position: relative;
	height: 41px;
}
div.dhxcont_global_layout_area div.dhxcont_sb_container div.dhxcont_statusbar {
	position: relative;
	top: 9px;
	height: 32px;
	line-height: 32px;
	background: #ebebeb;
	width: auto;
	padding: 0px 12px;
	overflow: hidden;
	white-space: nowrap;
	font-family: "Trebuchet MS";
	font-size: 14px;
	vertical-align: middle;
	color: #666666;
}
/* status attachecd to layout's cell */
table.dhtmlxLayoutPolyContainer_dhx_web div.dhxcont_sb_container_layoutcell {
	position: relative;
	height: 41px;
}
table.dhtmlxLayoutPolyContainer_dhx_web div.dhxcont_sb_container_layoutcell div.dhxcont_statusbar {
	position: relative;
	top: 9px;
	height: 32px;
	line-height: 32px;
	background: #ebebeb;
	width: auto;
	padding: 0px 12px;
	overflow: hidden;
	white-space: nowrap;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	vertical-align: middle;
	color: #666666;
}
/*
table.dhtmlxLayoutPolyContainer_dhx_web div.dhxcont_statusbar {
	position: absolute;
	width: 100%;
	bottom: 0px;
	background: none;
	_bottom: -1px;
	background-image: url("./imgs/dhxlayout_dhx_web/dhxlayout_bg_sb.gif");
	background-repeat: repeat-x;
	overflow: hidden;
	font-family: Tahoma;
	font-size: 11px;
	color: #7393ae;
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
	-moz-user-select: none;
	cursor: default;
	padding-left: 4px;
}
*/
/* dhxcont cells in layout */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhxcont_global_content_area {
	position: absolute;
	overflow: hidden; /* important for IE */
	background-color: #ffffff;
}

table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhxcont_global_content_area.dhxcont_layout_dhx_web {
	border: #ffffff 8px solid;
}

/* left/right lines in header */
table.dhtmlxLayoutPolyContainer_dhx_web div.dhtmlxPolyInfoBar div.dhtmlxLineL,
table.dhtmlxLayoutPolyContainer_dhx_web div.dhtmlxPolyInfoBarCollapsedHor div.dhtmlxLineL,
table.dhtmlxLayoutPolyContainer_dhx_web div.dhtmlxPolyInfoBar div.dhtmlxLineR,
table.dhtmlxLayoutPolyContainer_dhx_web div.dhtmlxPolyInfoBarCollapsedHor div.dhtmlxLineR,
table.dhtmlxLayoutPolyContainer_dhx_web div.dhtmlxPolyInfoBarCollapsedVer div.dhtmlxLineL,
table.dhtmlxLayoutPolyContainer_dhx_web div.dhtmlxPolyInfoBarCollapsedVer div.dhtmlxLineR {
	display: none;
}



/* fullscreened init on body */
.dhxlayout_fullscreened {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}
/* layout attached to window */
/*
.dhtmlx_skin_dhx_web div.dhtmlx_wins_body_inner.dhxwin_attachedlayout {
	background-color: #ebebeb !important;
	border: #ebebeb 2px solid !important;
}
*/

/* skin detect, dhx_web */
div.dhxlayout_skin_detect {
	width: 499px;
}

/* COLLAPSED TEXT */
/* horizontal */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBar div.dhtmlxInfoBarLabel_collapsed_ver {
	display: none;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedHor div.dhtmlxInfoBarLabel_collapsed_ver {
	position: absolute;
	top: 2px;
	left: 5px;
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	color: #666666;
	white-space: nowrap;
	cursor: default;
	-moz-user-select: none;
}
/* vertical */
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBar div.dhtmlxInfoBarLabel_collapsed_hor {
	display: none;
}
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedVer div.dhtmlxInfoBarLabel_collapsed_hor {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	background-color: transparent;
}


/*============================*/
/* dhtmlxMenu dhx_web*/
/*============================*/
/*									TOPLEVEL								    */
.dhtmlxMenu_dhx_web_Middle {
	position: relative;
	height: 32px;
	border: none;
	background-image: url("./imgs/dhxmenu_dhx_web/dhxmenu_topbg.gif");
	background-position: top;
	background-repeat: repeat-x;
	-moz-user-select: none;
	padding: 0px 7px;
}

.dhtmlx_winviewport.dhtmlx_skin_dhx_web div.dhtmlxMenu_dhx_web_Middle,
.dhxlayout_fullscreened div.dhtmlxMenu_dhx_web_Middle,
.dhx_tabbar_zone.dhx_tabbar_zone_dhx_web div.dhtmlxMenu_dhx_web_Middle,
.dhx_acc_base_dhx_web div.dhtmlxMenu_dhx_web_Middle,
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlxMenu_dhx_web_Middle,
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlxMenu_dhx_web_Middle,
table.dhtmlxLayoutPolyContainer_dhx_web td.dhtmlxLayoutSinglePoly div.dhtmlxMenu_dhx_web_Middle {
	height: 29px !important;
}

/* toplevel item normal */
div.dhtmlxMenu_dhx_web_TopLevel_Item_Normal,
div.dhtmlxMenu_dhx_web_TopLevel_Item_Disabled,
div.dhtmlxMenu_dhx_web_TopLevel_Item_Selected {
	position: relative;
	float: left;
	font-family: tahoma;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	margin: 0px 2px 100px 0px;
	padding: 0px 5px;
	color: #000000;
}
div.dhtmlxMenu_dhx_web_TopLevel_Item_Normal {
	border-left: #ebebeb 1px solid !important;
	border-right: #ebebeb 1px solid !important;
}
/* toplevel item disabled */
div.dhtmlxMenu_dhx_web_TopLevel_Item_Disabled {
	color: #808080 !important;
}
/* toplevel item selected (over) */
div.dhtmlxMenu_dhx_web_TopLevel_Item_Selected {
	background-image: url("./imgs/dhxmenu_dhx_web/dhxmenu_topselbg.gif");
	background-repeat: repeat-x;
	border-left: #bdd27b 1px solid !important;
	border-right: #bdd27b 1px solid !important;
	color: #000000;
}
/* toplevel separator */
.dhtmlxMenu_dhx_web_Middle div.top_sep {
	font-size: 1px;
	cursor: default;
	-moz-user-select: none;
	background-image: url("./imgs/dhxmenu_dhx_web/dhxmenu_topsepbg.gif");
	background-repeat: no-repeat;
	background-position: top center;
	height: 20px;
	position: relative;
	float: left;
	width: 3px;
	margin-left: 0px;
	margin-right: 2px;
}
/* top level image */
.dhtmlxMenu_dhx_web_Middle img.dhtmlxMenu_TopLevel_Item_Icon {
	float: left;
	margin: 2px 2px 0px 2px;
	width: 16px;
	height: 16px;
}


/* top level text*/
div.dhtmlxMenu_dhx_web_TopLevel_Item_Normal div.top_level_text,
div.dhtmlxMenu_dhx_web_TopLevel_Item_Disabled div.top_level_text,
div.dhtmlxMenu_dhx_web_TopLevel_Item_Selected div.top_level_text {
	float: left;
	margin-left: 2px;
	margin-right: 2px;
}

/*									SUBLEVEL POLYGON							    */
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon {
	position: absolute;
	background-color: #ebebeb;
	border: #bdd27b 1px solid;
	overflow: hidden;
	padding-top: 1px;
	padding-bottom: 1px;
	box-shadow: 2px 3px 13px #666666;
	-moz-box-shadow: 2px 3px 13px #666666;
	-webkit-box-shadow: 2px 3px 13px #666666;
	-khtml-box-shadow: 2px 3px 13px #666666;
	-moz-user-select: none;

}
/* IE6 sublevel undercover fix */
iframe.dhtmlxMenu_IE6CoverFix_dhx_web {
	position: absolute;
	border: none;
	background: #000000;
	filter: alpha(opacity=100);
}

/*									SUBLEVEL ITEMS								    */

div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl {
	
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item {
	height: 28px;
	cursor: default;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis {
	height: 28px;
	cursor: default;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected {
	height: 28px;
	cursor: default;
	background-image: url("./imgs/dhxmenu_dhx_web/dhxmenu_subselbg.gif");
	background-repeat: repeat-x;
	background-position: top;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_icon {
	width: 24px;
	text-align: left;
	-moz-user-select: none;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_icon img.sub_icon {
	width: 18px;
	height: 18px;
	margin-top: 4px;
	margin-right: 0px;
	margin-left: 6px;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_text {
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_item_text {
	font-family: tahoma;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	white-space: nowrap;
	text-align: left;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected div.sub_item_text {
	color: #000000 !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_item_text {
	color: #808080 !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_hk {
	padding-left: 8px;
	padding-right: 8px;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_hk div.sub_item_hk {
	font-family: Tahoma;
	font-size: 10px;
	color: #a4bed4;
	text-align: right;
}

div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected td.sub_item_hk div.sub_item_hk {
	color: #999999;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis td.sub_item_hk div.sub_item_hk {
	color: #cecece !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon tr.sub_sep {
	height: 3px;
	font-size: 1px;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon div.sub_sep {
	font-size: 1px;
	background-image: url("./imgs/dhxmenu_dhx_web/dhxmenu_subsepbg.gif");
	background-repeat: repeat-x;
	background-position: top;
	cursor: default;
	height: 3px;
}

/*									SUBLEVEL ARROWS								    */

div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.complex_arrow {
	width: 7px;
	height: 24px;
	background-image: url("./imgs/dhxmenu_dhx_web/dhtmlxmenu_subar.gif");
	background-repeat: no-repeat;
	background-position:  0px 0px;
	float: right;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected div.complex_arrow {
	background-position: -7px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.complex_arrow {
	background-position: -14px 0px !important;
}
/*									LOADING ICON								    */

div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.complex_arrow_loading {
	width: 7px;
	height: 24px;
	background-image: url("./imgs/dhxmenu_dhx_web/dhxmenu_loader.gif");
	background-repeat: no-repeat;
	background-position:  center center;
	float: right;
}


/*									UP/DOWN OVERFLOW ARROWS							    */
div.dhtmlxMenu_dhx_web_SubLevelArea_Arrow {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	overflow: hidden;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Arrow div.dhtmlxMenu_SubLevelArea_Arrow_Icon {
	position: relative;
	margin-top: 6px;
	margin-left: auto;
	margin-right: auto;
	width: 29px;
	height: 8px;
	background-repeat: no-repeat;
	background-image: url("./imgs/dhxmenu_dhx_web/dhtmlxmenu_upar.gif");
}
/* up arrows */
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowUp,
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowUp_Over,
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowUp_Disabled {
	position: absolute;
	height: 20px;
	font-size: 1px;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowUp div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -27px 0px; }
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowUp_Over div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -36px 0px; }
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowUp_Disabled div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -45px 0px; }
/* down arrows */
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowDown,
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowDown_Over,
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowDown_Disabled {
	position: absolute;
	height: 20px;
	font-size: 1px;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowDown div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: 0px 0px; }
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowDown_Over div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -9px 0px; }
div.dhtmlxMenu_dhx_web_SubLevelArea_ArrowDown_Disabled div.dhtmlxMenu_SubLevelArea_Arrow_Icon { background-position: -18px 0px; }

/*									TOPLEVEL TEXT								    */
.dhtmlxMenu_dhx_web_Middle div.dhtmlxMenu_TopLevel_Text_right {
	position: absolute;
	top: 0px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	left: none;
	right: 8px;
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	cursor: default;
}
.dhtmlxMenu_dhx_web_Middle div.dhtmlxMenu_TopLevel_Text_left {
	position: absolute;
	top: 0px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	right: none;
	left: 8px;
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	cursor: default;
}

/*									ITEM'S CHECKS, RADIOS							    */
/* sublevel */
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon {
	float: left;
	margin: 0px 2px 0px 6px;
	width: 18px;
	height: 18px;
	background-position: top right;
	background-repeat: no-repeat;
	background-image: url("./imgs/dhxmenu_dhx_web/dhtmlxmenu_chrd.gif");
}
/* checkboxes */
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.chbx_0 {
	background-position: 0px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.chbx_1 {
	background-position: -18px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.chbx_0 {
	background-position: -36px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.chbx_1 {
	background-position: -54px 0px !important;
}
/* radios */
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.rdbt_0 {
	background-position: -72px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.rdbt_1 {
	background-position: -90px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.rdbt_0 {
	background-position: -108px 0px !important;
}
div.dhtmlxMenu_dhx_web_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.rdbt_1 {
	background-position: -126px 0px !important;
}


/*============================*/
/* dhtmlxTabbar dhx_web*/
/*============================*/
dhx_tabbar_zone, .dhx_tabbar_zoneB, .dhx_tabbar_zoneV, .dhx_tabbar_zoneVB{
   position:relative;
   width:100%;
   height:100%;
   overflow:hidden;
   z-index:1;
}
.dhx_tablist_line{
	height:1px;
	width:1px;
	background-color:#91A7B4;
	position:absolute;
	overflow:hidden;
}
.dhx_tabbar_row, .dhx_tablist_zone, .dhx_tabcontent_zone, .dhx_tab_element{
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
}
.dhx_tablist_zone{
	z-index:3;
	overflow:hidden;
}
.dhx_tabcontent_zone{
	border:1px solid #ebebeb;
	z-index:2;
}
.dhx_tabbar_zone_top .dhx_tab_element{
	padding-top:3px;
}
.dhx_tab_element{
	cursor:pointer;
	text-align:center;
	font-family:Tahoma;
	font-size:8pt;
	background-color:white;
}
.dhx_tabbar_zoneV .dhx_tab_element{
	padding:0px 0px 0px 3px;
	text-align:left;
}
.dhx_tabbar_zoneVB .dhx_tab_element{
	padding:0px 3px 0px 0px;
	text-align:right;
}
.dhx_tab_element div{
	height:40px;
	width:40px;
	position:absolute;
	overflow:hidden;
}
.dhx_tab_element span{
	position:relative;
	z-index:10;
}

.dhx_tab_element_active{
		font-weight:bold;
}

.dhx_tabbar_zone_dhx_web .dhx_tabbar_row{
	background-color:#87ad69;
}
.dhx_tabbar_zone_dhx_web .dhx_tab_element span{
	top:4px;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
}

.dhx_tabbar_zone_dhx_web .dhx_tablist_line{
	display:none;
}
.dhx_tabbar_zone_dhx_web .dhx_tabcontent_zone{
	background-color: #87ad69 !important;
	border:none !important;
}

.dhx_tabbar_zone_bottom .dhx_tab_element span{
	padding-top:5px;
	display:block;
}


/* common */
div.dhxcont_main_content {
	position: relative;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
div.dhxcont_content_blocker {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 101%;
	height: 101%;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	background: #ffffff;
	z-index: 1;
	-moz-user-select: none;
}

/* dhxcont cells in layout */
.dhx_tabbar_zone_dhx_web div.dhxcont_global_content_area {
	position: absolute;
	overflow: hidden; /* important for IE */
	background-color: #ffffff;
}
.dhx_tabbar_zone_dhx_web div.dhxcont_global_content_area.dhxcont_tabbar_dhx_web {
	border: #ffffff 8px solid; /* change to white */
}
/*============================*/
/* dhtmlxToolbar dhx_web*/
/*============================*/



/* DHTMLX TOOLBAR, DHX WEB, 2009 */
/* PLEASE DO NOT EDIT MANUALY, UPDATE SCRIPT AND GENERATE */

/* COMMON PART */

.dhx_toolbar_base_18_dhx_web,
.dhx_toolbar_base_24_dhx_web,
.dhx_toolbar_base_32_dhx_web,
.dhx_toolbar_base_48_dhx_web {
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_btn,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_btn,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_btn,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_btn {
	color: #000000;
	font-family: tahoma;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	border-left: #ebebeb 1px solid;
	border-right: #ebebeb 1px solid;
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_btn.dis,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_btn.dis,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_btn.dis,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_btn.dis {
	color: #808080 !important;
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_btn.over,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_btn.over,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_btn.over,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_btn.over {
	border-left: #bdd27b 1px solid;
	border-right: #bdd27b 1px solid;
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_btn.pres,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_btn.pres,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_btn.pres,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_btn.pres {
	border-left: #bdd27b 1px solid;
	border-right: #bdd27b 1px solid;
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_btn.pres_dis,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_btn.pres_dis,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_btn.pres_dis,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_btn.pres_dis {
	color: #808080;
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_btn div,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_btn div,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_btn div,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_btn div {
	color: #000000;
	font-family: tahoma;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_arw,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_arw,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_arw,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_arw {
	color: #000000;
	font-family: tahoma;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	border-right: #ebebeb 1px solid;
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_arw.over,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_arw.over,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_arw.over,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_arw.over {
	border-right: #bdd27b 1px solid;
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_arw.pres,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_arw.pres,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_arw.pres,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_arw.pres {
	border-right: #bdd27b 1px solid;
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_arw div.arwimg,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_arw div.arwimg,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_arw div.arwimg,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_arw div.arwimg {
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
	color: #000000;
	font-family: tahoma;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}
div.dhx_toolbar_poly_18_dhx_web,
div.dhx_toolbar_poly_24_dhx_web,
div.dhx_toolbar_poly_32_dhx_web,
div.dhx_toolbar_poly_48_dhx_web {
	border: #bdd27b 1px solid;
	background-color: #ebebeb;
}
div.dhx_toolbar_poly_18_dhx_web table.buttons_cont tr.tr_btn.tr_btn_over,
div.dhx_toolbar_poly_24_dhx_web table.buttons_cont tr.tr_btn.tr_btn_over,
div.dhx_toolbar_poly_32_dhx_web table.buttons_cont tr.tr_btn.tr_btn_over,
div.dhx_toolbar_poly_48_dhx_web table.buttons_cont tr.tr_btn.tr_btn_over {
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
}
div.dhx_toolbar_poly_18_dhx_web table.buttons_cont tr.tr_btn.tr_btn_selected,
div.dhx_toolbar_poly_24_dhx_web table.buttons_cont tr.tr_btn.tr_btn_selected,
div.dhx_toolbar_poly_32_dhx_web table.buttons_cont tr.tr_btn.tr_btn_selected,
div.dhx_toolbar_poly_48_dhx_web table.buttons_cont tr.tr_btn.tr_btn_selected {
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
}
div.dhx_toolbar_poly_18_dhx_web td.td_btn_sep div.btn_sep,
div.dhx_toolbar_poly_24_dhx_web td.td_btn_sep div.btn_sep,
div.dhx_toolbar_poly_32_dhx_web td.td_btn_sep div.btn_sep,
div.dhx_toolbar_poly_48_dhx_web td.td_btn_sep div.btn_sep {
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
}
div.dhx_toolbar_poly_18_dhx_web td.td_btn_txt div.btn_sel_text,
div.dhx_toolbar_poly_24_dhx_web td.td_btn_txt div.btn_sel_text,
div.dhx_toolbar_poly_32_dhx_web td.td_btn_txt div.btn_sel_text,
div.dhx_toolbar_poly_48_dhx_web td.td_btn_txt div.btn_sel_text {
	color: #000000;
	font-family: tahoma;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}
div.dhx_toolbar_poly_18_dhx_web tr.tr_btn_disabled td.td_btn_txt div.btn_sel_text,
div.dhx_toolbar_poly_24_dhx_web tr.tr_btn_disabled td.td_btn_txt div.btn_sel_text,
div.dhx_toolbar_poly_32_dhx_web tr.tr_btn_disabled td.td_btn_txt div.btn_sel_text,
div.dhx_toolbar_poly_48_dhx_web tr.tr_btn_disabled td.td_btn_txt div.btn_sel_text {
	color: #808080 !important;
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_sep,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_sep,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_sep,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_sep {
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_text,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_text,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_text,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_text {
	color: #000000;
	font-family: tahoma;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_btn .inp,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_btn .inp,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_btn .inp,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_btn .inp {
	color: #000000;
	font-family: tahoma;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_btn div.sl_bg_l,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_btn div.sl_bg_l,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_btn div.sl_bg_l,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_btn div.sl_bg_l {
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_btn div.sl_bg_m,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_btn div.sl_bg_m,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_btn div.sl_bg_m,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_btn div.sl_bg_m {
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_btn div.sl_bg_r,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_btn div.sl_bg_r,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_btn div.sl_bg_r,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_btn div.sl_bg_r {
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
}
.dhx_toolbar_base_18_dhx_web div.dhx_toolbar_btn div.sl_pen,
.dhx_toolbar_base_24_dhx_web div.dhx_toolbar_btn div.sl_pen,
.dhx_toolbar_base_32_dhx_web div.dhx_toolbar_btn div.sl_pen,
.dhx_toolbar_base_48_dhx_web div.dhx_toolbar_btn div.sl_pen {
	background-image: url('./imgs/dhxtoolbar_dhx_web/dhxtoolbar_imgs.gif');
}

/* label for slider */
div.dhx_toolbar_slider_label_dhx_web {
	border: #bdd27b 1px solid;
	background-color: #e0f892;
	font-family: tahoma;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	font-size: 12px;
}

/* maxopen test */
.dhxtoolbar_maxopen_test {
	border: 1px solid white;
}


/*============================*/
/* dhtmlxTree dhx_web*/
/*============================*/
.defaultTreeTable{
			margin : 0px;
			padding : 0px;
			border : 0px;
}
.containerTableStyle { 
	overflow : auto; 
	position:relative; 
	top:0; 
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.containerTableStyleRTL span { 
	direction: rtl; 
	unicode-bidi: bidi-override;  
}
.containerTableStyleRTL { 
	direction: rtl; 
	overflow : auto; 
	position:relative; 
	top:0; 
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}
.standartTreeRow {	
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	-moz-user-select: none;  
}
.selectedTreeRow{ 
	background-color : navy; 
	color:white; 
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	-moz-user-select: none; 
}
.dragAndDropRow{ 
	background-color : navy; 
	color:white; 
}
.standartTreeRow_lor{	
	text-decoration:underline; 
	background-color : #FFFFF0; 
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	-moz-user-select: none; 
}
.selectedTreeRow_lor{   
	text-decoration:underline; 
	background-color : navy; 
	color:white; 
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	-moz-user-select: none; 
}

.standartTreeImage{ 
	width:18px; 
	height:18px;  
	overflow:hidden; 
	border:0; 
	padding:0; 
	margin:0;
	font-size:1px; 
}

.hiddenRow { 
	width:1px;  	
	overflow:hidden;  
}

.dragSpanDiv,.dragSpanDiv td{ 	
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	background-color:white; 
	z-index:999; 
}
.a_dhx_hidden_input{ position:absolute;  top:-1px; left:-1px; width:1px; height:1px; border:none; background:none; }
.a_dhx_hidden_input{ position:absolute;  top:-1px; left:-1px; width:1px; height:1px; border:none; background:none; }

.selectionBox{
background-color: #FFFFCC;
}
.selectionBar {
	top:0;
	background-color: Black;
	position:absolute;
	overflow:hidden;
	height: 2px;
	z-index : 11;
}

.intreeeditRow{
  width:100%; font-size:8pt; height:16px; border:1px solid silver; padding:0; margin:0;
  -moz-user-select:  text;   
}
.dhx_tree_textSign{
   font-size:8pt;
   font-family:monospace;
   width:21px;
   color:000000;
   padding:0px;
   margin:0px;
   cursor:pointer;
   text-align: center;
}
.dhx_tree_opacity{
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity=0);
}
.dhx_bg_img_fix{
width:18px;
height:18px;
background-repeat: no-repeat;
background-position: center;
background-position-x: center;
background-position-y: center;
}

.dhxtree_dhx_web .selectedTreeRow_lor, .dhxtree_dhx_web .selectedTreeRow{
	background-color:transparent;
	
}
.dhxtree_dhx_web span.selectedTreeRow_lor , .dhxtree_dhx_web span.selectedTreeRow{
	background-color:#e0f892;
	overflow:hidden;
	color: #000000;
}

.dhxtree_dhx_web td.standartTreeRow, .dhxtree_dhx_web td.selectedTreeRow{
	padding-left:2px;
}
.dhxtree_dhx_web span.standartTreeRow, .dhxtree_dhx_web span.selectedTreeRow{
	padding-left:3px !important;
}

.dhxtree_dhx_web .standartTreeRow, .dhxtree_dhx_web .standartTreeRow, .dhxtree_dhx_web .selectedTreeRow_lor, .dhxtree_dhx_web .selectedTreeRow{
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	overflow:hidden;
	color: #000000;
}


/*============================*/
/* dhtmlxWindows dhx_web*/
/*============================*/
/* active window */
.dhtmlx_skin_dhx_web div.dhtmlx_window_active {
	box-shadow: 2px 3px 13px #666666;
	-moz-box-shadow: 2px 3px 13px #666666;
	-webkit-box-shadow: 2px 3px 13px #666666;
	-khtml-box-shadow: 2px 3px 13px #666666;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive {
	box-shadow: 2px 3px 13px #aaaaaa;
	-moz-box-shadow: 2px 3px 13px #aaaaaa;
	-webkit-box-shadow: 2px 3px 13px #aaaaaa;
	-khtml-box-shadow: 2px 3px 13px #aaaaaa;
}

.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_body_outer {
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	background-color: #87ad69;
	border: #ffffff 1px solid;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_body_outer div.dhtmlx_wins_body_inner {
	position: absolute;
	overflow: hidden;
	background-color: #ffffff;
	border: #ffffff 9px solid !important;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active .dhtmlx_wins_no_header { /* will added to div.dhtmlx_wins_body_inner in case of no header */
	border-top: #c2d5dc 6px solid !important;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_title {
	position: absolute;
	top: 4px;
	left: 28px;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
	-moz-user-select: none;
}
/* active progress */
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_progress {
	background-image: url("./imgs/dhxwins_dhx_web/active/progress.gif");
}


/* active buttons */
/* close */
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_close_default {
	background-position: -96px 0px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_close_disabled {
	background-position: -96px -48px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_close_over_default {
	background-position: -96px -16px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_close_over_pressed {
	background-position: -96px -32px;
}
/* minmax1 */
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax1_default {
	background-position: -64px 0px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax1_disabled {
	background-position: -64px -48px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax1_over_default {
	background-position: -64px -16px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax1_over_pressed {
	background-position: -64px -32px;
}
/* minmax2 */
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax2_default {
	background-position: -80px 0px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax2_disabled {
	background-position: -80px -48px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax2_over_default {
	background-position: -80px -16px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax2_over_pressed {
	background-position: -80px -32px;
}
/* park */
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_park_default {
	background-position: -48px 0px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_park_disabled {
	background-position: -48px -48px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_park_over_default {
	background-position: -48px -16px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_park_over_pressed {
	background-position: -48px -32px;
}
/* stick */
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_stick_default {
	background-position: 0px 0px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_stick_disabled {
	background-position: 0px -48px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_stick_over_default {
	background-position: 0px -16px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_stick_over_pressed {
	background-position: 0px -32px;
}
/* sticked */
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_sticked_default {
	background-position: -16px 0px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_sticked_disabled {
	background-position: -16px -48px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_sticked_over_default {
	background-position: -16px -16px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_sticked_over_pressed {
	background-position: -16px -32px;
}
/* help */
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_help_default {
	background-position: -32px 0px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_help_disabled {
	background-position: -32px -48px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_help_over_default {
	background-position: -32px -16px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_help_over_pressed {
	background-position: -32px -32px;
}
/* dock */
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_dock_default {
	background-position: -112px 0px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_dock_disabled {
	background-position: -112px -48px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_dock_over_default {
	background-position: -112px -16px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_dock_over_pressed {
	background-position: -112px -32px;
}


/* inactive window */
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_body_outer {
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	background-color: #b7cea5;
	border: #ffffff 1px solid;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_body_outer div.dhtmlx_wins_body_inner {
	position: absolute;
	overflow: hidden;
	background-color: #ffffff;
	border: #ffffff 9px solid;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive .dhtmlx_wins_no_header { /* will added to div.dhtmlx_wins_body_inner in case of no header */
	border-top: #c2d5dc 6px solid;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_title {
	position: absolute;
	top: 4px;
	left: 28px;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	color: #ffffff;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
	-moz-user-select: none;
}
/* inactive progress */
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_progress {
	background-image: url("./imgs/dhxwins_dhx_web/inactive/progress.gif");
}
/* inactive butons */
/* close */
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_close_default {
	background-position: -96px -64px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_close_disabled {
	background-position: -96px -112px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_close_over_default {
	background-position: -96px -80px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_close_over_pressed {
	background-position: -96px -96px;
}
/* minmax1 */
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax1_default {
	background-position: -64px -64px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax1_disabled {
	background-position: -64px -112px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax1_over_default {
	background-position: -64px -80px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax1_over_pressed {
	background-position: -64px -96px;
}
/* minmax2 */
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax2_default {
	background-position: -80px -64px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax2_disabled {
	background-position: -80px -112px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax2_over_default {
	background-position: -80px -80px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax2_over_pressed {
	background-position: -80px -96px;
}
/* park */
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_park_default {
	background-position: -48px -64px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_park_disabled {
	background-position: -48px -112px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_park_over_default {
	background-position: -48px -80px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_park_over_pressed {
	background-position: -48px -96px;
}
/* stick */
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_stick_default {
	background-position: 0px -64px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_stick_disabled {
	background-position: 0px -112px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_stick_over_default {
	background-position: 0px -80px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_stick_over_pressed {
	background-position: 0px -96px;
}
/* sticked */
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_sticked_default {
	background-position: -16px -64px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_sticked_disabled {
	background-position: -16px -112px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_sticked_over_default {
	background-position: -16px -80px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_sticked_over_pressed {
	background-position: -16px -96px;
}
/* help */
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_help_default {
	background-position: -32px -64px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_help_disabled {
	background-position: -32px -112px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_help_over_default {
	background-position: -32px -80px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_help_over_pressed {
	background-position: -32px -96px;
}
/* dock */
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_dock_default {
	background-position: -112px -64px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_dock_disabled {
	background-position: -112px -112px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_dock_over_default {
	background-position: -112px -80px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_dock_over_pressed {
	background-position: -112px -96px;
}

/* common */
/* content blocker */
/*
.dhtmlx_skin_dhx_web div.dhtmlx_window_main_content_blocker {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 101%;
	height: 101%;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	background: #FFFFFF;
	z-index: 1;
	-moz-user-select: none;
}
*/
/* window icon */
.dhtmlx_skin_dhx_web div.dhtmlx_wins_icon {
	position: absolute;
	top: 7px;
	left: 8px;
	width: 16px;
	height: 16px;
	border: none;
	z-index: 1;
	-moz-user-select: none;
	background-repeat: no-repeat;
	font-size: 1px;
}
/* buttons */
.dhtmlx_skin_dhx_web div.dhtmlx_wins_btns {
	position: absolute;
	right: 5px;
	top: 6px;
	font-size: 1px;
}
.dhtmlx_skin_dhx_web div.dhtmlx_wins_btns div.dhtmlx_wins_btns_button {
	float: left;
	width: 16px;
	height: 16px;
	background-image: url("./imgs/dhxwins_dhx_web/buttons.gif");
}
/*
.dhtmlx_skin_dhx_web div.dhtmlx_window_main_content {
	position: relative;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
*/
/* resizers */
.dhtmlx_skin_dhx_web div.dhtmlx_wins_resizer_t {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 5px; /* should be generated by script */
	font-size: 1px;
	background: #ffffff;
	z-index: 1;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-moz-user-select: none;
}
.dhtmlx_skin_dhx_web div.dhtmlx_wins_resizer_l {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 5px; /* should be generated by script */
	height: 100%;
	font-size: 1px;
	background: #ffffff;
	z-index: 1;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-moz-user-select: none;
}
.dhtmlx_skin_dhx_web div.dhtmlx_wins_resizer_r {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 5px; /* should be generated by script */
	height: 100%;
	font-size: 1px;
	background: #ffffff;
	z-index: 1;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-moz-user-select: none;
}
.dhtmlx_skin_dhx_web div.dhtmlx_wins_resizer_b {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 5px; /* should be generated by script */
	font-size: 1px;
	background: #ffffff;
	z-index: 1;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-moz-user-select: none;
}
/* progress */
.dhtmlx_skin_dhx_web div.dhtmlx_wins_progress {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}
/* statusbar */
.dhtmlx_skin_dhx_web div.dhxcont_sb_container {
	position: relative;
	height: 41px;
}
.dhtmlx_skin_dhx_web div.dhxcont_sb_container div.dhxcont_statusbar {
	position: relative;
	top: 9px;
	height: 32px;
	line-height: 32px;
	background: #ebebeb;
	width: auto;
	padding: 0px 12px;
	overflow: hidden;
	white-space: nowrap;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	vertical-align: middle;
	color: #666666;
}
/*
.dhtmlx_skin_dhx_web div.dhxcont_statusbar {
	position: absolute;
	width: 100%;
	bottom: 0px;
	_bottom: -1px;
	border-top: #c2d5dc 1px solid;
	background-image: url("./imgs/dhxwins_dhx_web/statusbar_bg.gif");
	background-repeat: repeat-x;
	width: 100%;
	overflow: hidden;
	font-family: Tahoma;
	font-size: 11px;
	vertical-align: middle;
	line-height: 17px;
	-moz-user-select: none;
	cursor: default;
	padding-left: 4px;
	color: #7393ae;
}
*/


.dhtmlx_skin_dhx_web div.white_line,
.dhtmlx_skin_dhx_web div.white_line2 {
	display: none;
}

.dhtmlx_skin_dhx_web .dhtmlxMenu_in_Window {
	aborder-bottom: #cedce8 1px solid;
	border-bottom: #a4bed4 1px solid;
}


/*============================*/
/* dhtmlxEditor dhx_web*/
/*============================*/
iframe.dhxeditor_mainiframe_dhx_web {
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
td.dhxeditor_toolbar_dhx_web {
	position: relative;
	height: 32px;
}
td.dhxeditor_toolbar_dhx_web div.dhtmlxToolbar_dhx_web {
	height: 32px !important;
}
div.dhxeditor_container_dhx_web {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* native lite toolbar */
div.dhxeditor_dhx_web_btns {
	background-image: url("./imgs/dhxeditor_dhx_web/dhxeditor_bg_lite.gif");
	background-repeat: repeat-x;
	position: absolute;
	width: 100%;
	height: 32px;
}
div.dhxeditor_dhx_web_btns div.verline_l,
div.dhxeditor_dhx_web_btns div.verline_r {
	display: none;
}
div.dhxeditor_dhx_web_tbbtn {
	float: left;
	position: relative;
	width: 18px;
	height: 18px;
	font-size: 2px;
	margin-left: 5px;
	margin-top: 7px;
	cursor: pointer;
	background-image: url("./imgs/dhxeditor_dhx_web/buttons.gif");
}
div.dhxeditor_dhx_web_tbbtn.btn_bold {
	margin-left: 12px;
	background-position: 0px 0px;
}
div.dhxeditor_dhx_web_tbbtn.btn_italic {
	background-position: -18px 0px;
}
div.dhxeditor_dhx_web_tbbtn.btn_underline {
	background-position: -36px 0px;
}
div.dhxeditor_dhx_web_tbbtn.btn_clearformat {
	background-position: -54px 0px;
}
/* toolbar modif */
div.dhtmlx_editor_extended_dhx_web .dhx_toolbar_base_18_dhx_web  {
	background-image: url("./imgs/dhxeditor_dhx_web/dhxeditor_bg_lite.gif") !important;
}
div.dhtmlx_editor_extended_dhx_web  .dhx_toolbar_base_18_dhx_web div.dhx_toolbar_sep  {
	height: 31px !important;
}















.dhxlist_obj_dhx_web {
	position: relative;
	background-color: #ffffff;
	-moz-user-select: -moz-none;
}
.dhxlist_obj_dhx_web div.dhxlist_base {
	margin: 4px 10px;
}
.dhxlist_obj_dhx_web span.nav_link,
.dhxlist_obj_dhx_web span.nav_link:visited,
.dhxlist_obj_dhx_web span.nav_link:active,
.dhxlist_obj_dhx_web span.nav_link:hover {
	outline: none;
	text-decoration: none;
	color: inherit;
	cursor: default;
}
.dhxlist_obj_dhx_web span.nav_link:focus {
	color: #adadad;
}
.dhxlist_obj_dhx_web table.dhxlist_items_set {
	table-layout: fixed;
	cursor: default;
	width: 100%;
	font-size: inherit;
}

/* button's cont. */
.dhxlist_obj_dhx_web div.button_container {
	position: absolute;
	height: 50px;
	width: 100%;
	bottom: 0px;
}

/* table head */
.dhxlist_obj_dhx_web th.dhxlist_img_cell {
	width: 22px;
}
.dhxlist_obj_dhx_web th.dhxlist_tbl_head {
	height: 0px;
	margin: 0px;
	padding: 0px;
}
/* image, checkbox, radio */
.dhxlist_obj_dhx_web table.dhxlist_items_set td.dhxlist_img_cell {
	width: 22px;
	vertical-align: top;
	-moz-user-select: -moz-none;
}
.dhxlist_obj_dhx_web table.dhxlist_items_set div.dhxlist_img {
	width: 18px;
	height: 18px;
	-moz-user-select: -moz-none;
}
	/* checkboxes */
	.dhxlist_obj_dhx_web table.dhxlist_items_set div.dhxlist_img.chbx0 {
		background-image: url("./imgs/dhxform_dhx_web/dhxform_chbxrd.gif");
		background-repeat: no-repeat;
		background-position: -18px 0px;
	}
	.dhxlist_obj_dhx_web table.dhxlist_items_set div.dhxlist_img.chbx1 {
		background-image: url("./imgs/dhxform_dhx_web/dhxform_chbxrd.gif");
		background-repeat: no-repeat;
		background-position: 0px 0px;
	}
	.dhxlist_obj_dhx_web table.dhxlist_items_set tr.disabled div.dhxlist_img.chbx0 {
		background-image: url("./imgs/dhxform_dhx_web/dhxform_chbxrd.gif");
		background-repeat: no-repeat;
		background-position: -54px 0px;
	}
	.dhxlist_obj_dhx_web table.dhxlist_items_set tr.disabled div.dhxlist_img.chbx1 {
		background-image: url("./imgs/dhxform_dhx_web/dhxform_chbxrd.gif");
		background-repeat: no-repeat;
		background-position: -36px 0px;
	}
	
	/* radios */
	.dhxlist_obj_dhx_web table.dhxlist_items_set div.dhxlist_img.rdbt0 {
		background-image: url("./imgs/dhxform_dhx_web/dhxform_chbxrd.gif");
		background-repeat: no-repeat;
		background-position: -90px 0px;
	}
	.dhxlist_obj_dhx_web table.dhxlist_items_set div.dhxlist_img.rdbt1 {
		background-image: url("./imgs/dhxform_dhx_web/dhxform_chbxrd.gif");
		background-repeat: no-repeat;
		background-position: -72px 0px;
	}
	.dhxlist_obj_dhx_web table.dhxlist_items_set tr.disabled div.dhxlist_img.rdbt0 {
		background-image: url("./imgs/dhxform_dhx_web/dhxform_chbxrd.gif");
		background-repeat: no-repeat;
		background-position: -126px 0px;
	}
	.dhxlist_obj_dhx_web table.dhxlist_items_set tr.disabled div.dhxlist_img.rdbt1 {
		background-image: url("./imgs/dhxform_dhx_web/dhxform_chbxrd.gif");
		background-repeat: no-repeat;
		background-position: -108px 0px;
	}

/* text */
.dhxlist_obj_dhx_web table.dhxlist_items_set td.dhxlist_txt_cell {
	vertical-align: top;
	padding-right: 5px;
	-moz-user-select: -moz-none;
}
.dhxlist_obj_dhx_web table.dhxlist_items_set div.dhxlist_txt {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	margin: 2px 0px;
	color: #000000;
	overflow-x: hidden;
	-moz-user-select: -moz-none;
}
	.dhxlist_obj_dhx_web table.dhxlist_items_set div.dhxlist_txt.checked {
		
	}
	.dhxlist_obj_dhx_web table.dhxlist_items_set tr.disabled div.dhxlist_txt {
		color: #bfbfbf;
	}
	.dhxlist_obj_dhx_web table.dhxlist_items_set tr.disabled div.dhxlist_txt.checked {
		
	}

/* label, level 2 */
.dhxlist_obj_dhx_web table.dhxlist_items_set td.dhxlist_txt_label2 {
	vertical-align: top;
	-moz-user-select: -moz-none;
}
.dhxlist_obj_dhx_web table.dhxlist_items_set div.dhxlist_txt_label2 {
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	color: #256187;
	margin: 10px 3px 2px 3px;
}
	.dhxlist_obj_dhx_web table.dhxlist_items_set div.dhxlist_txt_label2.topmost {
		margin-top: 2px!important;
	}
	.dhxlist_obj_dhx_web table.dhxlist_items_set tr.disabled div.dhxlist_txt_label2 {
		color: #bfbfbf;
	}
	
	
.dhxlist_obj_dhx_web .dhxlist_cont {
	margin: 2px 2px 2px 3px;
}

	
/* label, level 1 (for input and select) */
.dhxlist_obj_dhx_web table.dhxlist_items_set div.dhxlist_txt_label {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	margin: 2px 3px;
}
	.dhxlist_obj_dhx_web table.dhxlist_items_set tr.disabled div.dhxlist_txt_label {
		color: #bfbfbf;
	}

/* select */
.dhxlist_obj_dhx_web table.dhxlist_items_set .dhxlist_txt_select {
	width: 150px;
	border: #8a8a8a 1px solid;
	background-color: #ffffff;
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}
	.dhxlist_obj_dhx_web table.dhxlist_items_set tr.disabled .dhxlist_txt_select {
		color: #bfbfbf;
		background-color: #ffffff;
		border: #d1d1d1 1px solid;
	}

/* input, textarea */
input.dhxlist_txt_textarea {
	padding: 1px 0px !important;
}
.dhxlist_obj_dhx_web table.dhxlist_items_set .dhxlist_txt_textarea {
	width: 150px;
	padding: 0px;
	border: #8a8a8a 1px solid;
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	-moz-user-select: text;
}
	.dhxlist_obj_dhx_web table.dhxlist_items_set tr.disabled .dhxlist_txt_textarea {
		color: #bfbfbf;
		background-color: #ffffff;
		border: #d1d1d1 1px solid;
	}

.dhx_form_cover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: silver;
	left: 0px; top: 0px;
	display: none;
	opacity: 0.2;
	-moz-opacity: 0.2;
	z-index: 99999;
	filter:alpha(opacity=20);
}

input.dhtmlx_validation_error, select.dhtmlx_validation_error {
	background-color: #F29FB5;
}

/* button */
.dhxlist_obj_dhx_web div.dhx_list_btn {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	height: 21px;
	margin: 10px 2px 10px 3px;
	float: left;
	cursor: default;
}

	/* table */
	.dhxlist_obj_dhx_web div.dhx_list_btn table {
		height: 21px;
	}
	.dhxlist_obj_dhx_web div.dhx_list_btn td {
		text-align: center;
		vertical-align: middle;
	}
	/* bg */
	.dhxlist_obj_dhx_web div.dhx_list_btn td.btn_l {
		background-image: url("./imgs/dhxform_dhx_web/dhxform_btns.gif");
		background-repeat: no-repeat;
		background-position: 0px 0px;
		width: 5px;
		height: 21px;
		font-size: 1px;
	}
		/* dis */
		.dhxlist_obj_dhx_web tr.disabled div.dhx_list_btn td.btn_l {
			background-position: 0px -42px !important;
		}
		/* over */
		.dhxlist_obj_dhx_web div.dhx_list_btn table.dhx_list_btn_over td.btn_l {
			background-position: 0px -84px !important;
		}
		/* pressed */
		.dhxlist_obj_dhx_web div.dhx_list_btn table.dhx_list_btn_pressed td.btn_l {
			background-position: 0px -126px !important;
		}
		
	.dhxlist_obj_dhx_web div.dhx_list_btn td.btn_m {
		background-image: url("./imgs/dhxform_dhx_web/dhxform_btns.gif");
		background-repeat: repeat-x;
		background-position: 0px -21px;
		height: 21px;
	}
		/* dis */
		.dhxlist_obj_dhx_web tr.disabled div.dhx_list_btn td.btn_m {
			background-position: 0px -63px !important;
		}
		/* over */
		.dhxlist_obj_dhx_web div.dhx_list_btn table.dhx_list_btn_over td.btn_m {
			background-position: 0px -105px !important;
		}
		/* pressed */
		.dhxlist_obj_dhx_web div.dhx_list_btn table.dhx_list_btn_pressed td.btn_m {
			background-position: 0px -147px !important;
		}
	.dhxlist_obj_dhx_web div.dhx_list_btn td.btn_r {
		background-image: url("./imgs/dhxform_dhx_web/dhxform_btns.gif");
		background-repeat: no-repeat;
		background-position: -5px 0px;
		width: 5px;
		height: 21px;
		font-size: 1px;
	}
		/* dis */
		.dhxlist_obj_dhx_web tr.disabled div.dhx_list_btn td.btn_r {
			background-position: -5px -42px !important;
		}
		/* over */
		.dhxlist_obj_dhx_web div.dhx_list_btn table.dhx_list_btn_over td.btn_r {
			background-position: -5px -84px !important;
		}
		/* pressed */
		.dhxlist_obj_dhx_web div.dhx_list_btn table.dhx_list_btn_pressed td.btn_r {
			background-position: -5px -126px !important;
		}
	/* label */
	.dhxlist_obj_dhx_web div.dhx_list_btn td.btn_m div.btn_txt {
		font-family: tahoma;
		font-size: 11px;
		font-weight: normal;
		font-style: normal;
		color: #000000;
		padding: 1px 20px;
	}
		.dhxlist_obj_dhx_web tr.disabled div.dhx_list_btn td.btn_m div.btn_txt {
			color: #bfbfbf !important;
		}
		.dhxlist_obj_dhx_web div.dhx_list_btn table.dhx_list_btn_over td.btn_m div.btn_txt {
			color: #ebebeb;
		}
		.dhxlist_obj_dhx_web div.dhx_list_btn table.dhx_list_btn_pressed td.btn_m div.btn_txt {
			color: #ebebeb;
			padding-top: 2px !important;
			padding-bottom: 0px !important;
		}

/* button for kbdnav */
.dhxlist_obj_dhx_web div.dhx_list_btn,
.dhxlist_obj_dhx_web div.dhx_list_btn:visited,
.dhxlist_obj_dhx_web div.dhx_list_btn:active,
.dhxlist_obj_dhx_web div.dhx_list_btn:hover {
	outline: none;
	text-decoration: none;
	color: inherit;
	cursor: default;
}
.dhxlist_obj_dhx_web div.dhx_list_btn:focus {
	outline: #adadad 1px dotted;
}


/* fieldset */
.dhxlist_obj_dhx_web td.dhxlist_txt_cell fieldset.dhxlist_fs {
	border: #d1d1d1 1px solid;
	margin-top: 5px;
	padding: 5px;
}
	.dhxlist_obj_dhx_web td.dhxlist_txt_cell tr.disabled fieldset.dhxlist_fs {
		border: #a3a3a3 1px solid;
	}
	
.dhxlist_obj_dhx_web td.dhxlist_txt_cell fieldset.dhxlist_fs legend.fs_legend {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding: 0px 4px 1px 4px;
	text-align: left;
	
}
	.dhxlist_obj_dhx_web td.dhxlist_txt_cell tr.disabled fieldset.dhxlist_fs legend.fs_legend {
		color: #bfbfbf;
	}

/* rtl */
.dhxlist_obj_dhx_web div.dhxform_rtl,
.dhxlist_obj_dhx_web div.dhxform_rtl .dhxlist_txt_cell,
.dhxlist_obj_dhx_web div.dhxform_rtl .dhxlist_txt,
.dhxlist_obj_dhx_web div.dhxform_rtl table.dhxlist_items_set div.dhxlist_txt_label,
.dhxlist_obj_dhx_web div.dhxform_rtl table.dhxlist_items_set div.dhxlist_txt_label2,
.dhxlist_obj_dhx_web div.dhxform_rtl table.dhxlist_items_set .dhxlist_txt_select,
.dhxlist_obj_dhx_web div.dhxform_rtl table.dhxlist_items_set .dhxlist_txt_select option,
.dhxlist_obj_dhx_web div.dhxform_rtl table.dhxlist_items_set .dhxlist_txt_textarea,
.dhxlist_obj_dhx_web div.dhxform_rtl div.dhx_list_btn td.btn_m div.btn_txt {
	direction: rtl;
	unicode-bidi: bidi-override;
}
.dhxlist_obj_dhx_web div.dhxform_rtl table.dhxlist_items_set div.dhxlist_img {
	margin-left: 0px;
	margin-right: 5px;
}
.dhxlist_obj_dhx_web div.dhxform_rtl td.dhxlist_txt_cell fieldset.dhxlist_fs legend.fs_legend {
	direction: rtl;
	unicode-bidi: bidi-override;
	text-align: right;
}
.dhxlist_obj_dhx_web div.dhxform_rtl div.dhx_list_btn {
	float: right;
}

.dhxlist_obj_dhx_web div.dhxlist_txt_label2 {
	color: #256187;
}

.dhxlist_obj_dhx_web div.disabled div.dhxlist_txt_label,
.dhxlist_obj_dhx_web div.disabled .dhxlist_txt_textarea {
	color: #adadad;
}

.dhxlist_obj_dhx_web div.dhxlist_txt,
.dhxlist_obj_dhx_web div.dhxlist_txt_label,
.dhxlist_obj_dhx_web .dhxlist_txt_textarea,
.dhxlist_obj_dhx_web input.dhxlist_txt_textarea {
	color: #000000;
}

.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_month_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell.dhtmlxcalendar_month_hdr,
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_days_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell,
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_days_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell_first,
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell,
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_time_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell.dhtmlxcalendar_time_hdr,
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_time_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell.dhtmlxcalendar_time_hdr div.dhtmlxcalendar_time_label,
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_selector_obj div.dhtmlxcalendar_selector_obj_arrow,
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_selector_obj table.dhtmlxcalendar_selector_table td.dhtmlxcalendar_selector_cell_middle ul.dhtmlxcalendar_selector_line li.dhtmlxcalendar_selector_cell {
	background-image: url("./imgs/dhtmlxcalendar_dhx_web/bg_days.png");
}

.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_selector_obj table.dhtmlxcalendar_selector_table td.dhtmlxcalendar_selector_cell_left,
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_selector_obj table.dhtmlxcalendar_selector_table td.dhtmlxcalendar_selector_cell_right {
	background-color: #e1ebda;
}

.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web {
	background-image: url("./imgs/dhtmlxcalendar_dhx_web/bg_main.png");
}

.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_month_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell.dhtmlxcalendar_month_hdr div.dhtmlxcalendar_month_arrow.dhtmlxcalendar_month_arrow_left,
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_selector_obj table.dhtmlxcalendar_selector_table td.dhtmlxcalendar_selector_cell_left {
	background-image: url("./imgs/dhtmlxcalendar_dhx_web/arrow_left.png");
}
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_month_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell.dhtmlxcalendar_month_hdr div.dhtmlxcalendar_month_arrow.dhtmlxcalendar_month_arrow_left_hover,
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_selector_obj table.dhtmlxcalendar_selector_table td.dhtmlxcalendar_selector_cell_left.dhtmlxcalendar_selector_cell_left_hover {
	background-image: url("./imgs/dhtmlxcalendar_dhx_web/arrow_left_hover.png");
}
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_month_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell.dhtmlxcalendar_month_hdr div.dhtmlxcalendar_month_arrow.dhtmlxcalendar_month_arrow_right,
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_selector_obj table.dhtmlxcalendar_selector_table td.dhtmlxcalendar_selector_cell_right {
	background-image: url("./imgs/dhtmlxcalendar_dhx_web/arrow_right.png");
}
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_month_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell.dhtmlxcalendar_month_hdr div.dhtmlxcalendar_month_arrow.dhtmlxcalendar_month_arrow_right_hover,
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_selector_obj table.dhtmlxcalendar_selector_table td.dhtmlxcalendar_selector_cell_right.dhtmlxcalendar_selector_cell_right_hover {
	background-image: url("./imgs/dhtmlxcalendar_dhx_web/arrow_right_hover.png");
}

.dhtmlxcalendar_container ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell,
.dhtmlxcalendar_container ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell_first {
	color: #a70000;
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.dhtmlxcalendar_container div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell.dhtmlxcalendar_cell_month,
.dhtmlxcalendar_container div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell.dhtmlxcalendar_cell_month_hover,
.dhtmlxcalendar_container div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell.dhtmlxcalendar_cell_month_date,
.dhtmlxcalendar_container div.dhtmlxcalendar_days_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell,
.dhtmlxcalendar_container div.dhtmlxcalendar_days_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell_first,
.dhtmlxcalendar_container div.dhtmlxcalendar_selector_obj table.dhtmlxcalendar_selector_table td.dhtmlxcalendar_selector_cell_middle ul.dhtmlxcalendar_selector_line li.dhtmlxcalendar_selector_cell {
	color:#000000;
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_month_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell.dhtmlxcalendar_month_hdr span.dhtmlxcalendar_month_label_month, .dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_month_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell.dhtmlxcalendar_month_hdr span.dhtmlxcalendar_month_label_year,
.dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_web div.dhtmlxcalendar_time_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell.dhtmlxcalendar_time_hdr {
	color: #ffffff;
}


.dhxlist_obj_dhx_web div.dhxlist_txt,
.dhxlist_obj_dhx_web div.dhxlist_txt_label,
.dhxlist_obj_dhx_web .dhxlist_txt_textarea,
.dhxlist_obj_dhx_web input.dhxlist_txt_textarea {
	color:#000000;
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.dhxlist_obj_dhx_web div.dhxlist_txt_label2 {
	color:#000000;
	font-family: tahoma;
	font-size: 11px;
	font-style: normal;
}


.dhxform_obj_dhx_web div.dhxform_label,
.dhxform_obj_dhx_web div.dhxform_btn td.btn_m div.btn_txt {
    color:#000000;
    font-family: tahoma;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
}

.dhxform_obj_dhx_web .dhxform_textarea,
.dhxform_obj_dhx_web .dhxform_select,
.dhxform_obj_dhx_web .dhxform_select option {
    color:#000000;
    font-family: tahoma;
    font-weight: normal;
    font-style: normal;
}

.dhxform_obj_dhx_web div.dhxform_control div.dhxform_note {
    color:#000000;
    font-family: tahoma;
    font-weight: normal;
    font-style: normal;
}